<!DOCTYPE html>
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Details | page_3</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css?ver=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/tabber.css?ver=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/chosen/chosen.css?ver=0.9.5" />
    <link rel="stylesheet" type="text/css" href="/styles/harviewer/harPreview.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
</head>
<body>
<div class="header">
    <div class="left"><a href="/">Monitor</a></div>
    <div class="right"><a href="javascript:HARSTORAGE.view_preferences()">Preferences</a></div>
    <div class="hr"></div>
    <div id="preferences">
        <strong>Chart Theme</strong>
        <div class="hr"></div>
        <form id="theme-list" action="none">
            <input class="radio" type="radio" name="theme" value="light" /><span class="theme-name">Light<br /></span>
            <input class="radio" type="radio" name="theme" value="light-green" /><span class="theme-name">Light Green<br /></span>
            <input class="radio" type="radio" checked="true" name="theme" value="dark-green" /><span class="theme-name">Dark Green</span>
        </form>
        <div class="hr"></div>
        <button type="button" onclick="javascript:HARSTORAGE.update_preferences();">Apply</button>
        <div id="close">
            <a href="javascript:HARSTORAGE.view_preferences()">X</a>
        </div>
    </div>
</div>

<center>
    <div class="results">
        <div id="timeline"></div>
        <p class="title">Run Info</p>
        <div class="selector">
            <select id="run_timestamp" class="chosen-select">
                   <% c.timestamp.forEach(function(timestamp){ %>
                       <option value="<%=timestamp%>"><%=timestamp%></option>
                    <% }) %>

            </select>

        </div>

        <div class="spinner" id="spinner"></div>

        <div class="tabber">
            <div class="tabbertab" title="Summary">                
                <div class="container-max">
                    <div class="title-umax">Full Load Time:</div>       <div class="value" id="full-load-time">n/a</div>
                    <div class="title-umax">onLoad Event:</div>         <div class="value" id="onload-event">n/a</div>
                    <div class="title-umax">Start Render Time:</div>    <div class="value" id="start-render-time">n/a</div>
                    <div class="title-umax">Time to First Byte:</div>   <div class="value" id="time-to-first-byte">n/a</div>
                </div>
                
                <div class="container-max">
                    <div class="title-max">Total DNS Time:</div>        <div class="value" id="total-dns-time">n/a</div>
                    <div class="title-max">Total Transfer Time:</div>   <div class="value" id="total-transfer-time">n/a</div>
                    <div class="title-max">Total Server Time:</div>     <div class="value" id="total-server-time">n/a</div>
                    <div class="title-max">Avg. Connecting Time:</div>  <div class="value" id="avg-connecting-time">n/a</div>
                    <div class="title-max">Avg. Blocking Time:</div>    <div class="value" id="avg-blocking-time">n/a</div>
                </div>
                <div class="container-min">
                    <div class="title-min">Total Size:</div>           <div class="value" id="total-size">n/a</div>
                    <div class="title-min">Text Files:</div>           <div class="value" id="text-size">n/a</div>
                    <div class="title-min">Media Files:</div>          <div class="value" id="media-size">n/a</div>
                    <div class="title-min">Cache Size:</div>           <div class="value" id="cache-size"></div>
                </div>
                <div class="container-umin">
                    <div class="title-min">Requests:</div>             <div class="value-min" id="requests">n/a</div>
                    <div class="title-min">Redirects:</div>            <div class="value-min" id="redirects">n/a</div>
                    <div class="title-min">Bad Requests:</div>         <div class="value-min" id="bad-requests">n/a</div>
                    <div class="title-min">Domains:</div>              <div class="value-min" id="domains">n/a</div>
                    <div><input type="image" src="/images/help_button.png" class="image" onclick="window.open('http://code.google.com/p/harstorage/wiki/HowToUse#Summary_Stats');"/></div>
                </div>
                <div style="clear:both">
                    <a style="display: block;" target="_blank" id="J_Capture" href="#" class="btn btn-large btn-block btn-primary">查看截屏</a>
                </div>
            </div>

            <div class="tabbertab" title="Resources">
                <div id="by-size"></div>
                <div id="by-req"></div>
            </div>

            <div class="tabbertab" title="Domains">
                <div id="domains-by-size"></div>
                <div id="domains-by-req"></div>
            </div>

            <div class="tabbertab" title="Page Speed Details">
                <div id="pagespeed"></div>
            </div>

            <div class="tabbertab" title="HAR Viewer">
                <div id="harviewer"></div>
                <div class="newtab">
                    <button id="newtab">View in New Tab</button>
                </div>
            </div>

            <div class="tabbertab" title="Manage Data">
                <div id="manager">
                    <button id="histo">View Histogram</button>
                    <button id="agg-btn">Aggregate Tests</button>
                    <button id="del-btn">Delete Current Test</button>
                    <button id="del-all-btn">Delete All Tests</button>
                </div>
            </div>
        </div>
    </div>
</center>
<script src="/javascripts/jquery-1.9.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jquery.json-2.4.js"></script>
<script src="/js/harviewer/require.js"></script>
<script src="/js/harviewer/core/trace.js"></script>
<script src="/js/harviewer/domplate/domplate.js"></script>
<script src="/js/highcharts/highcharts.src.js"></script>
<script src="/js/highcharts/themes/gray.js"></script>
<script src="/js/harstorage.js"></script>
<script src="/js/preferences.js"></script>
<script src="/js/tabber.js"></script>
<script src="/js/spin.js"></script>

<script type="text/javascript">
    var run_info = new HARSTORAGE.RunInfo(
        "<%=c.mode%>",
        "<%=c.label%>",
        "<%=c.query%>",
        "true"
    );
    run_info.addSpinner();
    run_info.get();
    run_info.timedStyleChange();
    var timeline = new HARSTORAGE.Timeline(run_info);
    timeline.get("<%=c.mode%>", "<%=c.label%>");
</script>
<div class="footer">
    <div class="hr"></div>
</div>
</body>
</html>
