<tr>
    <td><%=har.timestamp%></td>
    <td><%=har.label%></td>
    <td><%=har.url%></td>
    <td><%=har.onload_event%></td>
    <td><%=har.oncontentload_event%></td>
    <td><%=har.full_load_time%></td>
    <td><%=har.start_render_time%></td>
    <td><%=har.time_to_first_byte%></td>
    <td><%=har.total_size%></td>
    <td><%=har.requests%></td>
    <td><%=har.ps_scores%></td>
    <td><%=har.bad_requests%></td>
</tr>